@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.qr-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.qr-card__image {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.qr-card__image img {
    max-width: 100%;
    border-radius: 15px;
}

.qr-card_text {
    font-family: 'Outfit', sans-serif;
    margin: 0 16px 40px;
}

.qr-card__title {
    font-size: 22px;
    font-weight: 700;
    color: #1F314F;
    text-align: center;
    margin: 10px 0 16px;
    line-height: 26.4px;
    letter-spacing: 0px;
}

.qr-card__description {
    font-size: 15px;
    font-weight: 400;
    color: #68778D;
    text-align: center;
    margin: 0;
    line-height: 21px;
    letter-spacing: 0.2px;
}
